<div style="direction: ltr">
  <div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Inline form</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-inline">
              <input
                #autoInput
                nbInput
                type="text"
                (input)="onUserSearchChange()"
                #search
                placeholder="search using code or name"
                [nbAutocomplete]="auto"
              />
              <nb-autocomplete
                #auto
                (selectedChange)="onUserSearchSelect($event)"
              >
                <nb-option
                  *ngFor="let option of filteredOptions$ | async"
                  [value]="option.key"
                >
                  <!-- {{ option }} -->
                  <div>
                    <span style="padding-right: 50%">{{ option.key }}</span
                    ><span style="text-align: right">{{ option.value }}</span>
                  </div>
                  <!-- style this div for option -->
                </nb-option>
              </nb-autocomplete>
            </div>

            <!-- start user data info -->
            <div class="form-inline">
              <div class="form-group">
                <label for="searchCode" class="label">Code</label>
                <input
                  type="text"
                  disabled
                  nbInput
                  [value]="userData!.code"
                  fullWidth
                  id="searchCode"
                  placeholder="code"
                />
              </div>
              <div class="form-group">
                <label for="searchAccountType" class="label"
                  >Account Type</label
                >
                <input
                  type="text"
                  disabled
                  nbInput
                  [value]="userData!.accountType"
                  fullWidth
                  id="searchAccountType"
                  placeholder="type"
                />
              </div>
              <div class="form-group">
                <label for="searchBalance" class="label">Balance</label>
                <input
                  type="text"
                  disabled
                  nbInput
                  [value]="userData!.balance"
                  fullWidth
                  id="searchBalance"
                  placeholder="type"
                />
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label for="searchCode" class="label">Name</label>
                <input
                  type="text"
                  disabled
                  nbInput
                  [value]="userData!.name"
                  fullWidth
                  id="searchCode"
                  placeholder="code"
                />
              </div>
              <div class="form-group">
                <label for="searchAccountType" class="label">Phone</label>
                <input
                  type="text"
                  disabled
                  nbInput
                  [value]="userData!.phone"
                  fullWidth
                  id="searchAccountType"
                  placeholder="type"
                />
              </div>
              <div class="form-group">
                <label for="searchBalance" class="label"
                  >Last opreation at</label
                >
                <input
                  type="text"
                  disabled
                  nbInput
                  [value]="userData!.lastOpreationAt"
                  fullWidth
                  id="searchBalance"
                  placeholder="type"
                />
              </div>

              <div class="form-group">
                <label for="searchBalance" class="label"
                  >replacewith icon</label
                >
              </div>
            </div>
            <!-- end user data info -->

            <div id="opreationDetails" class="form-inline">
              <div class="form-group">
                <label for="sourceAccount" class="label">Source Account</label>
                <nb-select
                  id="acckSources"
                  [(ngModel)]="opreationSourceAccount"
                  (selectedChange)="selectSourceAccount($event)"
                >
                  <nb-option
                    *ngFor="let sourceAccount of sourceAccounts"
                    [value]="sourceAccount"
                    >{{ sourceAccount }}</nb-option
                  >
                </nb-select>
              </div>

              <div class="form-group">
                <label for="opreationAmount" class="label">Amount</label>
                <input
                  type="text"
                  nbInput
                  [(ngModel)]="opreationAmount"
                  fullWidth
                  id="opreationAmount"
                  placeholder="Amount"
                />
              </div>

              <div class="form-group" *ngIf="opreationSourceAccount === 'Bank'">
                <label for="opreationByBankTransactionId" class="label"
                  >Transaction number</label
                >
                <input
                  type="text"
                  nbInput
                  [(ngModel)]="opreationByBankTransactionId"
                  fullWidth
                  id="opreationByBankTransactionId"
                  placeholder="Trx.Id"
                />
              </div>
            </div>

            <!-- start move line form -->
            <form [formGroup]="move_line_steps">
              <div class="inline-form">
                  <div class="form-group">
                
                    <button nbButton (click)="addStep()" status="success">
                      <!-- <nb-icon icon="add"></nb-icon> -->
                      +
                    </button>
                  </div>
                  <ng-container [formArrayName]="moves">
                
                  <ng-container
                    *ngFor="let step of moves.controls; let i = index"
                  >
                  <div class="form-group">
                    <div class="inline-form">
                      
                      <nb-select
                      [formControlName]="op_type"
                      required
                    >
                      <nb-option
                        *ngFor="let opreationType of opreationTypes"
                        [value]="opreationType"
                        >{{ opreationType }}</nb-option
                      >
                    </nb-select>
                      <input nbInput
                        type="number"
                        required
                        [formControlName]="op_amount"
                      />

                      <nb-select
                      [formControlName]="op_sales_account"
                      
                      >
                      <nb-option
                        *ngFor="let sourceAccount of sourceAccounts"
                        [value]="sourceAccount"
                        >{{ sourceAccount }}</nb-option
                      >
                    </nb-select>
                      
                      <button nbButton (click)="addStep()" status="success">
                        +
                      </button>
                      <button nbButton (click)="removeStep(i)" status="danger">
                        -
                      </button>
                    </div>
                    </div>
                  
                  </ng-container>
                </ng-container>

                <button nbButton type="submit" (click)="saveSteps()">submit</button>
              </div>
            </form>

            <!-- end move line form -->
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
